.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  .title {
    font-size: 34px;
    margin: 0 0 30px 0.75%;
    cursor: pointer;
    max-width: 100px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  .collection-preview {
    margin-bottom: 20px;
  }
  .collection-preview .title {
    font-size: 30px;
    align-self: center;
    margin-bottom: 15px;
  }
  .collection-preview .preview {
    grid-template-columns: 1fr 1fr;
  }
}
