.collection-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 480px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--secondary-color);
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 50px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .name {
      width: 90%;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 800px) {
  .collection-item {
    width: 95%;
    height: 325px;
    margin: 5px 0 5px 0;
  }
  .collection-item .collection-footer {
    font-size: 18px;
    margin: 0 0 10px;
  }
}
