.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
  top: 120px;
  right: 150px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}

@media screen and (max-width: 800px) {
  .cart-dropdown {
    top: 80px;
    right: 15px;
    height: 435px;
  }
}
