.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 34px;
    color: var(--primary-color);
  }

  button {
    margin-left: auto;
    margin-top: 50px;
  }

  .test-warning {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ec4040;
  }
}

@media screen and (max-width: 800px) {
  .checkout-page {
    width: 90%;
    margin: 0 auto;
  }

  .checkout-page .checkout-header {
    text-align: center;
    justify-content: space-between;
  }

  .checkout-page .checkout-header .header-block:last-child {
    display: none;
  }

  .checkout-page .checkout-item {
    text-align: center;
    justify-content: space-between;
  }

  .checkout-page .checkout-item .quantity {
    justify-content: center;
  }

  .checkout-page .checkout-item .remove-button {
    display: none;
  }

  .checkout-page .total {
    font-size: 28px;
  }

  .checkout-page .test-warning {
    font-size: 16px;
  }
}
