.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  font-size: 22px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 5px 0 0 10px;
  }

  .options {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--primary-color);

    .option {
      padding: 5px 15px;
      cursor: pointer;
    }
  }
}
