.menu-item {
  min-width: 30%;
  height: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid var(--secondary-color);
  margin: 0 10px 20px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    opacity: 0.85;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &.large {
    height: 450px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    position: absolute;

    .title {
      margin: 0 20px 20px 0;
      font-weight: bold;
      font-size: 32px;
      text-shadow: -1px -1px 0 #6b6d6e, 1px -1px 0 #6b6d6e, -1px 1px 0 #6b6d6e,
        1px 1px 0 #6b6d6e;
    }
  }
}
