body {
  font-family: 'Open Sans Condensed';
  height: 100vh;
  padding: 50px;
  margin: 0 100px;
  background-color: var(--bg-color);
}

@media screen and (max-width: 800px) {
  body {
    padding: 10px;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
span {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
