body {
  font-family: 'Open Sans Condensed';
  height: 100vh;
  padding: 50px;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
span {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
