.sign-in-and-sign-up {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and (max-width: 800px) {
  .sign-in-and-sign-up {
    margin: 0;
    padding: 0 5px 25px;
    width: 100%;
    display: inline-block;
  }
}
